@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary: #181818;
  --secondary: #f2f2f2;
  --accent: #00c9e5;
  --lighter-primary: #34363a;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary);
}
